<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=(local);Trusted_Connection=false;user=sa;password=b@nc@r0m1;database=BugTracker"/>
		<add key="DataAccessType" value="BugsTrackers.DataAccessLayer.SQLDataAccessLayer"/>
		<add key="UserAccountSource" value="None"/>
		<add key="DefaultRoleForNewUser" value="Consultant"/>
		<add key="SmtpServer" value="Localhost"/>
		<add key="NotifyEmail" value="notify"/>
		<add key="DesktopDefaultUrl" value="/BugsTrackers/"/>
		<add key="MobileDefaultUrl" value="/BugsTrackersMobile/"/>
		<add key="FirstDayOfWeek" value="1"/>
		<add key="BuildFilePath" value="D:\Work\BugTracker files\NantContribBuild\localbuild.bat"/>
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.6.1" />
			</system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.6.1">
			<assemblies>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<customErrors defaultRedirect="" mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="DesktopDefault.aspx"/>
		</authentication>
		<identity impersonate="true"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<machineKey decryptionKey="AutoGenerate,IsolateApps"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/w:1">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/></compiler>
		</compilers></system.codedom>
	<system.webServer>
		<defaultDocument>
			<files>
				<remove value="iisstart.htm"/>
				<remove value="index.html"/>
				<remove value="index.htm"/>
				<remove value="Default.asp"/>
				<remove value="Default.htm"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
