<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="btnet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
         </sectionGroup>
    </configSections>
  <appSettings>
    <clear/>
    <add key="main_window_width" value="1064"/>
    <add key="main_window_height" value="670"/>
    <add key="url" value="http://localhost/BugTracker4.0/Service/BugTrackerWebService.asmx"/>
    <add key="username" value="admin"/>
    <add key="domain" value=""/>
    <add key="project_id" value="0"/>
    <add key="password" value=""/>
    <add key="save_password" value="1"/>
  </appSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <userSettings>
      <btnet.Properties.Settings>
        <setting name="ScreenCapture_BugTrackerWebService_BugTrackerWebService" serializeAs="String">
          <value>http://localhost/BugTracker4.0/Service/BugTrackerWebService.asmx</value>
        </setting>
      </btnet.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
